* {
    box-sizing: border-box;
}

.app-container {
    background-color:#adadad;
}

.inner-container {
    margin: 2rem;
    margin-right: 16rem;
    margin-left: 16rem;
    text-align: center;
}

.small-container {
    margin-right: 14rem;
    margin-left: 14rem;
    text-align: center;
}

.site-title {
    font-size: 2rem;
    color: #FFFFFF;
}

.nav {
    background-color:#212529;
    color: #adadad;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav div {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav-list-item.active {
    color: #FFFFFF;
}

.nav-list-item:hover {
    color: #FFFFFF;
}

.pages-div {
    color: #2B2D2F;
    display: flex;
    align-items: center;
    height: "100%";
}

.tables-div {
    margin: 1rem;
    text-align: center;
}

.outer-table-headers {
    font-size:larger;
}

.round-border {
    border-radius: 5px !important;
    overflow: 'hidden';
}

.column-width-10 {
    width: 10%
}

.column-width-15 {
    width: 15%;
}

.column-width-20 {
    width: 20%;
}

.column-width-25 {
    width: 25%;
}

.column-width-50 {
    width: 50%;
}

.column-width-75 {
    width: 75%;
}

.margin-bottom {
    margin-bottom: 2rem;
}

.margin-top {
    margin-top: 1rem;
}

.margin-right {
    margin-right: .5rem;
}

.margin-left {
    margin-left: .5rem;
}

.page-margin-bottom {
    margin-bottom: 10rem;
}