* {
    box-sizing: border-box;
}

.main-container {
    margin: 2rem;
    margin-right: 16rem;
    margin-left: 16rem;
    text-align: center;
}

.small-container {
    margin-right: 20rem;
    margin-left: 20rem;
    text-align: center;
}

.site-title {
    font-size: 2rem;
    color: #FFFFFF;
}

.nav {
    background-color: #2B2D2F;
    color: #adadad;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav div {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav-list-item.active {
    color: #FFFFFF;
}

.nav-list-item:hover {
    color: #FFFFFF;
}

.pages-div {
    color: #2B2D2F;
    display: flex;
    align-items: center;
    height: "100%";
}

.tables-div {
    margin: 1rem;
    text-align: center;
}

.outer-table-headers {
    font-size:larger;
}

.round-border {
    border-radius: 5px !important;
    overflow: 'hidden';
}

.column-width-10 {
    width:10%
}